:root{
    --primario: #a651e2;
    /* --primario: #9d27f1; */
    --secundario: #00a2e8;
    --terciario: #e9ff02;
    --blanco: #FFF;
    --negro: #000;
    --gris: #b4c8ff;
    
    --fuentePrincipal: 'Staatliches';
}

html {
    box-sizing: border-box;
    font-size: 70%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Body */
body {
    background-color: var(--blanco);
    line-height: 1;
}
a {
    text-decoration: none;
}
.a--seccion,
.a--seccion:link {
    color: var(--terciario);
}
.a--seccion:hover {
    color: var(--secundario);
}
p {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--negro);
}
.p--seccion {
    color: var(--terciario);
}
.p--nosotros {
    margin-bottom: 50px;
}
.p--nosotros-2 {
    font-size: 2rem;
    color: var(--blanco);
    font-family: Helvetica;
}
img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
}
.img__contenedor {
    width: 25%
}
.img__seccion--2 {
    width: 15%;
}
.img__nosotros {
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
}
h1, h2, h3 {
    font-family: var(--fuentePrincipal);
}
h1 {
    font-size: 6rem;
}
.h1__titulo {
    margin-top: 0rem;
    margin-bottom: 3rem;
}
.h1__titulo--2 {
    margin-bottom: 0;
    margin-top: 20px;
}
h2 {
    font-size: 3.5rem;
    letter-spacing: 1.5px;
}
.h2--seccion {
    color: var(--blanco);
    margin-top: 15px;
}
.h2--nosotros {
    margin: 8px auto;
}

/* Navegación */
.navegacion {
    background-color: var(--primario);
    padding: 0 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navegacion__enlace {
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--secundario);
}

/* Contenedor */
.contenedor {
    display: block;
    text-align: center;
    max-width: 90%;
    margin: auto auto;
}
.contenedor--2 {
    max-width: 71%;
}

/* Grid */
.grid {
    display: grid;
    background-color: var(--primario);
    align-items: center;
    justify-items: center;
}
.grid__seccion--1 {
    grid-template-columns: 24% 76%;
}
/* .grid__seccion--2 {
    grid-template-columns: 80% 20%;
} */

/* Footer */
.footer {
    background-color: var(--primario);
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__texto {
    text-align: center;
    margin: 0 0;
    color: var(--blanco);
    font-size: 2rem;
}